html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input[type="range"] {
  width: 100%;
}

td {
  padding: 0.25rem 0.5rem;
}

.layout {
  display: grid;

  grid-template-areas:
    'controls source'
    'controls preview'
    'result result';
}

.layout__controls {
  grid-area: controls;
}

.layout__preview {
  grid-area: preview;
}

.layout__result {
  grid-area: result;
}

.layout__source {
  grid-area: source;
}
